includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests
        - public
        - config
        - bin

    ignoreErrors:
    		- identifier: missingType.iterableValue

