<div id="drawer-read-modal"
     class="overflow-y-auto fixed top-0 left-0 z-40 p-4 pt-20 w-full max-w-3xl h-screen bg-white transition-transform -translate-x-full dark:bg-gray-800"
     tabindex="-1"
     aria-labelledby="drawer-label"
     aria-hidden="true"
>
</div>
